<h1>Login</h1>
<form action="/submit_login" method="POST">
  <p>Username/Email</p>
  <input type="text" name="username"><br>
  <p>Password</p>
  <input type="password" name="password"><br>
  <button type="submit" action="">Enter</button>
</form>
